@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
$header-font: 'Fjalla One',sans-serif;
$ui-font: 'Open Sans';
// ---- Cursors ----

.grab {
  cursor: grab;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: url('http://s3.amazonaws.com/urbanjungle/images/openhand.cur'), move;
}

.grabbing {
  cursor: grab;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: url('http://s3.amazonaws.com/urbanjungle/images/closedhand.cur'), move;
}

.pointer {
  cursor: hand;
  cursor: pointer;
}


* {padding:0;margin:0}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {

}

form {
  display: inline-block;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,body {
  height:100%;
  width:100%;
  overflow:hidden;

  /*font-family: 'Source Sans Pro', sans-serif;*/
  font-weight:100;
}

.fullvp {
  position: relative;
  width: 100%;
  height: 100%;
  top:0px;
  left:0px;
}

.inactive {
  display: none;
}

.vAlign-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-top:-20px;
}

.hAlign-center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}


* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
