/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import "compass";
@import "compass/css3";
@import "global";
@import "speachbubble";



.intro-container {
  width:100%;
  height:100%;

  .intro-content {
    width:100%;
    height:100%;
    pointer-events: none;
    text-align: center;
    position:absolute;

    font-style: normal;
    color:#ffffff;

    .intro-header {

      font-family: $header-font;
      text-transform: uppercase;

      left: 50%;
      @include transform(translateX(-50%));

      font-size:80px;
      width:95%;

      position:absolute;
      top:20%;

      @media all and (min-width: 0px) and (max-width:820px) {
        font-size:40px;
        top:10%;
        width:70%;
      }

      @media all and (min-width: 821px) and (max-width:1220px) {
        font-size:60px;
      }
    }

    .start-btn {
      display: inline-block;
      width:200px;
      margin:30px auto;
      font-size:30px;
      border: 1px solid white;
      padding:10px;
      cursor: pointer;

      &:hover {
        background: rgba(255,255,255,0.2);
      }

    }
  }
}

.loading-label {
  opacity:0;
  pointer-events:none;
  z-index:10;
  width:100%;
  text-align: center;
  position:absolute;

  font-family: $header-font;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  color:#ffffff;
  text-transform: uppercase;

  h1 {
    font-size:40px;
  }
}

.streetview {
  position:absolute;
  top:0px;
  left:0px;
  background-color: #ffffff;
  @include backface-visibility(hidden);
  //opacity: 0.9999;
}

.map {
  position:absolute;
  margin:0 auto;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-color: #126f4d;
}

.choice-list {

  position:absolute;
  bottom:30%;
  font-size:12px;
  font-weight:400;
  font-family: $ui-font;
  text-transform: uppercase;
  width:90%;

  left: 50%;
  @include transform(translateX(-50%));

  @media all and (min-width: 0px) and (max-width:820px) {
    font-size:10px;
    bottom:10%;
  }

  @media all and (min-width: 821px) and (max-width:1220px) {

  }


  .choice-item {
    pointer-events: auto;

    display:inline-block;

    border: 1px solid white;
    padding:10px;
    cursor: pointer;
    margin-left:10px;
    margin-top: 10px;

    &.choice-item--submit {
      margin-left:0px;
    }

    &.choice-item--input {
      border-right:none;
    }

    &:hover {
      background:rgba(255,255,255,0.1);
    }
  }
}

.search-box {

  font-weight:400;
  font-family: $ui-font;
  text-transform: uppercase;
  font-size:12px;

  border:none;
  color:#ffffff;
  background:none;

  padding:0;
  margin:0;

  &:focus, &:focus{
    outline: 0;
  }

  @media all and (min-width: 0px) and (max-width:820px) {
    font-size:10px;
    bottom:10%;
  }
}

.search-text {
  @media all and (min-width: 0px) and (max-width:820px) {
    width:85px;
  }
}
.search-submit {

}

.search-btn {
  padding:0;
  margin:0;
  border:none;
}

.no-break {
  white-space: nowrap;
}

.pegman-draggable {
  position:absolute;
  pointer-events:auto;

  width:100px;
  height:100px;

  left:50%;
  top:45%;

  margin-left:-185px;
  @include perspective(150px);

  .pegman-circle {
    position:absolute;
    @include border-radius(50px);
    border: 2px solid white;
    width:100px;
    height:100px;
    @include transform(rotateX(75deg));

    @include transition-property(all);
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-in);
    @include transform-origin(50% 50%);

  }

  @media all and (min-width: 0px) and (max-width:500px) {

    margin-left:-100px;

  }

  &.dragging {

    .instructions {
      @include transition-property(all);
      @include transition-duration(0.2s);
      @include transition-timing-function(ease-in);

      width:200px;

    }

    .pegman-circle {

      width:20px;
      height:20px;
      margin:38px;
      top:3px;
      @include transform(rotateX(0));
      @include border-radius(10px);
    }

    .pegman {
      top:-30px;
    }
  }

  &.over-road {

    .pegman {
      top:0;
      @include transform( rotateX(-60deg) rotateY(30deg));
    }

    .pegman-circle {
      @include transition-duration(0);
      width:30px;
      height:30px;
      margin:34px;
      @include border-radius(15px);
    }
  }
}

.pegman {

  @include transform-origin(22px 68px);

  @include backface-visibility(hidden);

  @include background-image(image-url("pegman.png"));
  display:block;
  position:relative;
  width:44px;
  height:68px;
  left: 32px;
  top: -12px;

  @include transition-property(all);
  @include transition-duration(0.2s);
  @include transition-timing-function(ease-out);

  &:hover {
    top: -18px;
  }
}

.instructions {
  position: absolute;
  font-family: $ui-font;
  font-size:14px;
  font-weight:400;
  top: -30px;
  left: 50px;
  width: 296px;
  text-align:center;

   @media all and (min-width: 0px) and (max-width:500px) {
    width: 180px;
    font-size: 10px;
    .triangle-border {
      padding:7px;
    }
  }

  @media all and (min-width: 500px) and (max-width:820px) {
    width: 220px;
    font-size: 11px;
  }
}

.back-btn {
  position: absolute;
  z-index:100000;
  font-family: $ui-font;
  font-weight:400;
  font-size:12px;

  display:inline-block;

  border: 1px solid white;
  padding:10px;
  cursor: pointer;

  margin: 20px;
  color: #ffffff;

  @include backface-visibility(hidden);

  &:hover {
    background:rgba(255,255,255,0.1);
  }

}

.streetview-layer-tile {
  position:absolute;
  margin:20;
}

.streetview-layer-tile-canvas {
  position:absolute;
  margin:20;
  top:260px;
}

#debug {
  position:absolute;
  right:70px;
  width:50px;
  top:20;
}

.more-info {
  cursor:pointer;
  position:absolute;
  z-index:11;
  right:0px;
  margin:20px;
  @include transform(rotate(20deg));


  @media all and (min-width: 0px) and (max-width:500px) {
    @include transform(scale(0.5) rotate(20deg));
    margin:0px;
  }

  @media all and (min-width: 500px) and (max-width:820px) {
    @include transform(scale(0.8) rotate(20deg));
    margin:10px;
  }

}

aside.sticker {
  font-family: $header-font;
  text-transform: uppercase;

  font-size: 17px;
  text-shadow: 0px 0px 3px rgba(0,0,0,0.4);
  color: black;
  width: 100px;
  height: 100px;
  display: inline-block;
  border-radius: 100%;
  background-image: -webkit-linear-gradient(135deg, transparent 32px, #aaaaaa 20px, #eeeeee);
  background-image: -moz-linear-gradient(135deg, transparent 32px, #aaaaaa 20px, #eeeeee);
  background-image: -o-linear-gradient(135deg, transparent 32px, #aaaaaa 20px, #eeeeee);

  text-align: center;
  padding-top: 40px;
  box-sizing: border-box;
  overflow: hidden;

}
aside.sticker:after {
  content: " ";
  display: block;
  border-radius: 100%;
  background-image: -webkit-linear-gradient(135deg, transparent 110px, #000000 100px, #666666 100px, #ffffff 85%);
  background-image: -moz-linear-gradient(135deg, transparent 110px, #000000 100px, #666666 100px, #ffffff 85%);
  background-image: -o-linear-gradient(135deg, transparent 110px, #000000 100px, #666666 100px, #ffffff 85%);

  @include box-shadow( -3px -3px 15px 1px rgba(0, 0, 0, 0.2));
  width: 100px;
  height: 100px;
  margin-left: 56px;
  margin-top: -4px;
}

aside.sticker.green {
  color: white;
  background-image: -webkit-linear-gradient(135deg, transparent 32px, #46a82d 20px, #70c757);
  background-image: -moz-linear-gradient(135deg, transparent 32px, #46a82d 20px, #70c757);
  background-image: -o-linear-gradient(135deg, transparent 32px, #46a82d 20px, #70c757);
}

.info-block {
  display:none;
  position:absolute;
  z-index:10000;
  height:100%;
  width:100%;
  text-align: center;
  @include transform(translateZ(10px));

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .info-content {
    position:relative;
    display: inline-block;
    vertical-align: middle;
    width: 500px;

    @media all and (max-height:700px) {
      width: 700px;
    }


    text-align: left;
    white-space: none;
    background:#ffffff;
    color:#000000;
    padding:50px;
    width:500px;

    font-family: $ui-font;
    font-weight:200;
    font-size:12px;

    @include box-shadow(0 0 10px 6px rgba(0,0,0,0.3));

    img {
      padding-right:10px;
      padding-bottom:10px;
    }

    p {
      margin-bottom:10px;
    }

    ul {
      margin:0;
      padding:0;

      li {
        margin-left:26px;
        margin-bottom:10px;
        list-style-type: disc;
      }
    }

    a {
      text-decoration: none;
      color: #006943;
      font-weight: bold;

      &:active {
        color: #006943;

      }
    }
  }
}

 @media all and (max-width:570px),(max-height:570px) {
  .info-block {
    width:100%;
    height:100%;

    .info-content {
      height:100%;
      width:100%;
      overflow: auto;
      @include box-shadow(none);
    }

  }

  .info-block:before {
    content: none;
  }
}

.close {
  cursor:pointer;
  position:absolute;
  right:20px;
  top:20px;
}

.close-cross {

  &:after, &:before {

    content:"";
    height:20px;
    width:20px;
    border-top:1px solid #000;
    position:absolute;
    top:7px;
    right:-8px;
    @include rotate(-45deg);

  }

  &:before {

    right:6px;
    @include rotate(45deg);

  }

  &:hover {

    @include opacity(0.3);

  }

}


